.sidebar {
  width: 100%;
  height: calc(100vh - 3.5rem);
  display: block;
}

a {
  color: white;
}

a:hover {
  color: burlywood !important;
  cursor: pointer;
}

.bg-transparent {
  background-color: transparent;
}

:host {
  height: 100%;
}

.photo {
  border-radius: 50%;
  height: 30%;
  width: 30%;
  margin: auto;
}

.card {
  width: 50rem;
  margin: 2% auto;
}

.buttn-size {
  margin-bottom: 3%;
  width: 40%;
}
