.bg-transparent {
  background-color: transparent;
}

:host {
  height: 100%;
}

.photo {
  height: 50%;
  width: 50%;
  margin: auto;
  margin-top: 3%;
  border-radius: 50%;
}

.card {
  width: 20rem;
  margin-top: 1%;
}

.buttn-size {
  margin: 3% 3%;
}
