.bg-transparent {
  background-color: transparent;
}

:host {
  height: 100%;
}

.photo {
  margin: 3%;
  border-radius: 50%;
  height: 25%;
  width: 25%;
}

.card {
  width: 50rem;
  margin: 1% auto;
}

.buttn-size {
  margin: 5%;
  width: 40%;
}
