<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Login</h5>
            <div class="form-signin">
              <form (ngSubmit)="onLogin(f)" #f="ngForm" ngNativeValidate>
                <div class=" form-group" [class.has-error]="email.invalid">
                  <input
                    type="email"
                    class="form-control"
                    ngModel
                    #email="ngModel"
                    id="email"
                    name="email"
                    placeholder="Email address"
                    required
                    email
                  />
                  <span
                    class="has-error"
                    *ngIf="email.errors?.required && email.touched"
                  >
                    Email is Required
                  </span>
                  <span class="has-error" *ngIf="email.errors?.email">
                    Opps Invaid Email..!
                  </span>
                </div>

                <div class=" form-group" [class.has-error]="password.invalid">
                  <input
                    type="password"
                    ngModel
                    #password="ngModel"
                    class="form-control"
                    id="password"
                    name="password"
                    placeholder="Password"
                    required
                  />
                  <span
                    class="has-error"
                    *ngIf="password.errors?.required && password.touched"
                  >
                    Password is Required
                  </span>
                </div>

                <button
                  type="submit"
                  class="btn btn-lg btn-primary btn-block text-uppercase"
                  [disabled]="f.invalid"
                >
                  Login
                </button>
              </form>
              <div class="text-center">
                <a href="#"> Forgot Password </a>
              </div>

              <div *ngIf="!isAdmin">
                <hr class="my-4" />
                <h6 class="text-center">Social Login</h6>
                <div class="row">
                  <div class="col-6">
                    <button
                      class="btn btn-lg btn-google btn-block text-uppercase"
                      type="submit"
                      (click)="signInWithGoogle()"
                    >
                      Google+
                    </button>
                  </div>
                  <div class="col-6">
                    <button
                      class="btn btn-lg btn-facebook btn-block text-uppercase"
                      type="submit"
                      (click)="signInWithFB()"
                    >
                      Facebook
                    </button>
                  </div>
                </div>

                <hr class="my-4" />
                <h6 class="text-center">Login via OTP</h6>
                <div class="row">
                  <div class="col-6">
                    <button
                      class="btn btn-lg btn-primary btn-block text-uppercase"
                      type="submit"
                      (click)="generateOTPwith = 'email'"
                    >
                      Email
                    </button>
                  </div>
                  <div class="col-6">
                    <button
                      class="btn btn-lg btn-primary btn-block text-uppercase"
                      type="submit"
                      (click)="generateOTPwith = 'mobile'"
                    >
                      Mobile
                    </button>
                  </div>
                </div>
                <br />
                <form
                  #f="ngForm"
                  (ngSubmit)="signInViaOTP(f)"
                  ngNativeValidate
                  *ngIf="
                    generateOTPwith === 'email' || generateOTPwith === 'mobile'
                  "
                >
                  <h5 class="card-title text-center">
                    Generate OTP via
                    {{
                      generateOTPwith === 'email'
                        ? 'Email'
                        : generateOTPwith === 'mobile'
                        ? 'Mobile'
                        : ''
                    }}
                  </h5>

                  <div *ngIf="generateOTPwith === 'mobile'">
                    <div class=" form-group  ">
                      <select
                        class="form-control"
                        id="countryCode"
                        name="countryCode"
                        #countryCode="ngModel"
                        ngModel
                        [required]="generateOTPwith === 'mobile'"
                      >
                        <option
                          *ngFor="let countryCode of countryCodes"
                          [value]="countryCode.id"
                        >
                          {{ countryCode.code }}
                        </option>
                      </select>
                    </div>
                  </div>

                  <div
                    class=" form-group"
                    [class.has-error]="emailOrMobile.invalid"
                  >
                    <input
                      type="text"
                      class="form-control"
                      ngModel
                      id="emailOrMobile"
                      name="emailOrMobile"
                      placeholder="Email or Mobile number"
                      #emailOrMobile="ngModel"
                      ngModel
                      required
                      [email]="generateOTPwith === 'email'"
                      [pattern]="
                        generateOTPwith === 'mobile' ? '^[0-9]{10}$' : ''
                      "
                    />
                    <span
                      class="has-error"
                      *ngIf="
                        emailOrMobile.errors?.required && emailOrMobile.touched
                      "
                    >
                      This is a Required field
                    </span>
                    <span class="has-error" *ngIf="emailOrMobile.errors?.email">
                      You entered invaid Email..!
                    </span>

                    <span
                      class="has-error"
                      *ngIf="emailOrMobile.errors?.pattern"
                    >
                      You entered invaid Mobilenumber..!
                    </span>
                  </div>

                  <div class="form-group" *ngIf="enterOTP">
                    <input
                      type="text"
                      class="form-control"
                      id="otp"
                      name="otp"
                      placeholder="OTP"
                      ngModel
                    />
                  </div>

                  <div
                    class=" text-center"
                    *ngIf="
                      generateOTPwith === 'email' ||
                      generateOTPwith === 'mobile'
                    "
                  >
                    <button
                      class="btn btn-primary btn-block text-uppercase"
                      type="submit"
                      [disabled]="f.invalid"
                    >
                      {{ enterOTP ? 'Submit' : 'Generate OTP' }}
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
