<div class="row no-gutters">
  <div class="col-2">
    <div class="navbar navbar-dark flex-column bg-dark sidebar">
      <span class="nav-item">
        <a class="nav-link active" (click)="signOut()">Sign Out</a>
      </span>
    </div>
  </div>
  <div class="col-10">
    <div *ngIf="user" class="card text-center">
      <div class="card-block ">
        <img
          class="card-img-top img-responsive photo"
          src="../../../../assets/user.png"
          *ngIf="!user.imageUrl"
        />
        <img
          class="card-img-top img-responsive photo"
          src="{{ user.imageUrl }}"
          *ngIf="user.imageUrl"
        />
      </div>
      <div class="card-block">
        <h4 class="card-title">{{ user.firstName }} {{ user.lastName }}</h4>
        <p class="card-text" *ngIf="user.provider">
          <b>Provider:</b> {{ user.provider }}
        </p>
        <p class="card-text" *ngIf="user.email">
          <b>Email :</b> {{ user.email }}
        </p>
        <p class="card-text" *ngIf="user.mobileNumber">
          <b>Mobile:</b> {{ user.mobileNumber }}
        </p>
      </div>
    </div>
  </div>
</div>
